services:
  db:
    image: postgres:17
    container_name: tfg_postgres
    environment:
      POSTGRES_DB: tfg_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
